<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<h2>Course List</h2>
<span sec:authorize="hasAnyRole('TEACHER','ADMIN')">
    <a class="btn btn-primary" th:href="@{/course/add}">Thêm khóa học</a>
</span>
<table class="table" border="1">
    <thead>
        <tr>
            <th>CourseId</th>
            <th>CourseName</th>
            <th>TeacherId</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="c : ${course}">
        <td th:text="${c.courseId}"></td>
        <td th:text="${c.courseName}"></td>
        <td th:text="${c.teacherId}"></td>
        <td th:text="${#temporals.format(c.createdAt, 'yyyy/MM/dd HH:mm')}"></td>
        <td th:text="${#temporals.format(c.updatedAt, 'yyyy/MM/dd HH:mm')}"></td>

        <td>
        <span sec:authorize="hasAnyRole('TEACHER','ADMIN')">
            <a th:href="@{/course/edit/{courseId}(courseId = ${c.courseId})}" class="btn btn-warning btn-sm">Update</a>
        </span>
            <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/course/delete/{courseId}(courseId = ${c.courseId})}" class="btn btn-danger btn-sm"
               onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Delete</a>
        </span>
        </td>
    </tr>

    </tbody>

</table>

</body>
</html>