<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Score List</h2>


    <!-- ✅ Chỉ ADMIN được thêm điểm -->
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/score/add}">ADD Score</a>
    </div>

        <table class="table" border="1">
    <thead>
    <tr>
        <th>ScoreId</th>
        <th>StudentId</th>
        <th>CourseId</th>
        <th>Subject</th>
        <th>Score</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="s : ${score}">
            <td th:text="${s.scoreId}"></td>
            <td th:text="${s.studentName}"></td>
            <td th:text="${s.courseName}"></td>
            <td th:text="${s.subject}"></td>
            <td th:text="${s.score}"></td>
            <td>
            <td>
                <!-- ✅ ADMIN và GIẢNG VIÊN được sửa -->
                <a th:href="@{'/score/edit/' + ${s.scoreId}}" sec:authorize="hasAnyRole('ADMIN', 'TEACHER')">Update</a>

                <!-- ✅ Chỉ ADMIN được xóa -->
                <a th:href="@{'/score/delete/' + ${s.scoreId}}" sec:authorize="hasRole('ADMIN')">Delete</a>
            </td>
            </td>
        </tr>
    </tbody>

</table>
</body>
</html>