<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="bg-light border-end vh-100" th:fragment="sidebar" style="width: 220px; position: fixed;">
    <div class="list-group list-group-flush">
        <a th:href="@{/admin/dashboard}" class="list-group-item list-group-item-action"> Dashboard</a>
        <a th:href="@{/admin/users}" class="list-group-item list-group-item-action"> Quản lý tài khoản</a>

        <a th:href="@{/student/list}" class="list-group-item list-group-item-action"> Học viên</a>
        <a class="list-group-item list-group-item-action" th:href="@{/course/list}">Khóa học</a>
        <a class="list-group-item list-group-item-action"  th:href="@{/admin/login-history}">Lịch sử đăng nhập</a>
        <a class="list-group-item list-group-item-action"  th:href="@{/admin/teachers}"> Giáo viên</a>

    </div>
</div>
</body>
</html>