<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.student_testing.test.mapper.ResultMapper">
    <select id="findAllResults" resultType="org.example.student_testing.test.dto.ResultDTO">
        SELECT r.test_id,
               r.student_username as studentUsername,
               u.full_name AS fullName,
               t.test_name AS testName,
               r.score,
               r.percentile,
               r.rank,
               r.submitted_at AS submittedAt
        FROM results r
                 JOIN users u ON r.student_username = u.username
                 JOIN tests t ON r.test_id = t.test_id
        ORDER BY r.submitted_at DESC
    </select>

    <select id="filterResults" resultType="org.example.student_testing.test.dto.ResultDTO">
        SELECT r.test_id AS testId,
        r.student_username AS studentUsername,
        u.full_name AS fullName,
        t.test_name AS testName,
        r.score,
        r.percentile,
        r.rank,
        r.submitted_at AS submittedAt
        FROM results r
        JOIN users u ON r.student_username = u.username
        JOIN tests t ON r.test_id = t.test_id
        <where>
            <if test="testId != null">
                AND r.test_id = #{testId}
            </if>
            <if test="studentUsername != null and studentUsername != ''">
                AND r.student_username = #{studentUsername}
            </if>
        </where>
        ORDER BY r.submitted_at DESC
    </select>



    <insert id="insertResult" parameterType="org.example.student_testing.test.dto.ResultDTO">
        INSERT INTO results(test_id, student_username, score, percentile, rank, submitted_at)
        VALUES (#{testId}, #{studentUsername}, #{score}, #{percentile}, #{rank}, #{submittedAt})
    </insert>


    <select id="countResult" resultType="int">
        SELECT COUNT(*) FROM results
        WHERE test_id = #{testId} AND student_username = #{studentUsername}
    </select>
</mapper>