<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.student_testing.test.mapper.StudentAnswerMapper">
    <select id="findAllAnswers" resultType="org.example.student_testing.test.dto.StudentAnswerDTO">
        SELECT a.question_id, a.test_id, a.student_username, a.question_id, a.selected_option, a.answered_at,
               q.content AS question_content,
               q.option_a, q.option_b, q.option_c, q.option_d
        FROM student_answers a
                 JOIN questions q ON a.question_id = q.question_id
        WHERE a.test_id = #{testId} AND a.student_username = #{studentUsername}


    </select>

    <insert id="insertAnswer" parameterType="org.example.student_testing.test.dto.StudentAnswerDTO">
        insert into student_answers (test_id, student_username,question_id,selected_option,answered_at)
        values (#{testId},#{studentUsername},#{questionId},#{selectedOption},#{answeredAt})

    </insert>



    <select id="getTestsByTeacher" resultType="org.example.student_testing.test.dto.StudentAnswerDTO">
        SELECT DISTINCT
            sa.id AS id,
            sa.test_id AS testId,
            sa.student_username AS studentUsername,
            sa.question_id AS questionId,
            sa.selected_option AS selectedOption,
            sa.answered_at AS answeredAt
        FROM student_answers sa
                 JOIN student_class sc ON sa.student_username = sc.student_username
                 JOIN teacher_class tc ON sc.class_id = tc.class_id
        WHERE tc.username = #{teacherUsername};

    </select>


    <select id="findAnswerByQuestionIdAndStudent" resultType="org.example.student_testing.test.dto.StudentAnswerDTO">
        SELECT sa.selected_option,
               q.option_a,
               q.option_b,
               q.option_c,
               q.option_d,
               q.correct_option
        FROM student_answers sa
                 JOIN questions q ON sa.question_id = q.question_id
        WHERE sa.test_id = #{testId}
          AND sa.question_id = #{questionId}
          AND sa.student_username = #{studentUsername}
            LIMIT 1
    </select>


</mapper>