<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.student_testing.test.mapper.TestSubmissionMapper">
    <select id="getAllSubmissionsForTeacher" resultType="org.example.student_testing.test.dto.TestSubmissionDTO">
        SELECT
            sa.test_id AS testId,
            t.test_name AS testName,
            sc.student_username AS studentUsername,
            CASE WHEN sa.student_username IS NOT NULL THEN TRUE ELSE FALSE END AS hasSubmitted,
            COUNT(sa.question_id) AS totalAnswered,
            SUM(CASE WHEN sa.selected_option = q.correct_option THEN 1 ELSE 0 END) AS correctCount,
            MAX(sa.answered_at) AS lastAnswered
        FROM student_class sc
                 JOIN teacher_class tc ON sc.class_id = tc.class_id
                 LEFT JOIN student_answers sa ON sa.student_username = sc.student_username
                 LEFT JOIN questions q ON sa.question_id = q.question_id
                 LEFT JOIN tests t ON sa.test_id = t.test_id
        WHERE tc.username = #{teacherUsername}
        GROUP BY sa.test_id, t.test_name, sc.student_username, sa.student_username
        ORDER BY sa.test_id, sc.student_username
    </select>


    <select id="countGradedSubmissions" resultType="int">
        SELECT COUNT(*) FROM test_submissions
        WHERE graded = TRUE
    </select>

    <insert id="insert" parameterType="org.example.student_testing.test.dto.TestSubmissionDTO">
        INSERT INTO test_submissions(test_id, student_username, submitted_at, total_answered, correct_count, score, graded)
        VALUES (#{testId}, #{studentUsername}, #{submittedAt}, #{totalAnswered}, #{correctCount}, #{score}, #{graded})
    </insert>

    <select id="findStudentsAssignedButNotSubmitted" resultType="java.lang.String">
        SELECT
            ta.student_username
        FROM
            test_assignments ta
                LEFT JOIN
            test_results tr ON ta.test_id = tr.test_id AND ta.student_username = tr.student_username
        WHERE
            ta.test_id = #{testId}
          AND tr.result_id IS NULL
    </select>

</mapper>