<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.student_testing.test.mapper.TopicMapper">
    <select id="findAll" resultType="org.example.student_testing.test.dto.TopicDTO">
        SELECT topic_id AS topicId, topic_name AS topicName,
            course_id as courseId FROM topics ORDER BY topic_name
    </select>

    <select id="findById" parameterType="int" resultType="org.example.student_testing.test.dto.TopicDTO">
        SELECT topic_id AS topicId, topic_name AS topicName,
            course_id as courseId
        FROM topics WHERE topic_id = #{topicId}

    </select>


    <insert id="insert" parameterType="org.example.student_testing.test.dto.TopicDTO">
        INSERT INTO topics (topic_name) VALUES (#{topicName})
    </insert>

    <update id="update" parameterType="org.example.student_testing.test.dto.TopicDTO">
        UPDATE topics SET topic_name = #{topicName} WHERE topic_id = #{topicId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM topics WHERE topic_id = #{topicId}
    </delete>


    <select id="findTopicsByCourseId" resultType="org.example.student_testing.test.dto.TopicDTO">
        SELECT topic_id AS topicId, topic_name AS topicName, course_id AS courseId
        FROM topics
        WHERE course_id = #{courseId}
    </select>

    <select id="findTopicsByCourseIds" resultType="org.example.student_testing.test.dto.TopicDTO">
        SELECT topic_id AS topicId,
        topic_name AS topicName,
        course_id AS courseId
        FROM topics
        WHERE course_id IN
        <foreach item="id" collection="courseIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findIdByName" resultType="int">
        SELECT topic_id FROM topics WHERE topic_name = #{name}
    </select>

    <select id="findCourseIdByTopicId" resultType="int">
        SELECT course_id FROM topics WHERE topic_id = #{topicId}
    </select>


    <select id="findCourseNameById" resultType="java.lang.String">
        SELECT
            c.course_name
        FROM
            courses c
                INNER JOIN
            topics t ON c.course_id = t.course_id
        WHERE
            t.topic_id = #{topicId}
    </select>
</mapper>
